.submission-submit-holder {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    text-align: left;
    gap: 15px;

}

.submission-submit-text-title {
    color: #00677E;
    /* H2: Header */
    font-family: var(--font-family-h2, "Avenir Next");
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    /* 128.571% */
    letter-spacing: 0.2px;
}

.submission-submit-text-subtitle {
    color: #3C6A00;
    /* H3: Subheader */
    font-family: var(--font-family-h3, "Avenir Next");
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 133.333% */
    letter-spacing: 0.2px;
}


.submission-submit-text-title-data {
    color: var(--color-on-surface-variant, #3F484A);
    /* Body */
    font-family: var(--font-family-body, Avenir);
    font-size: var(--font-size-body-default, 16px);
    font-style: normal;
    font-weight: var(--font-weight-body-default, 400);
    line-height: var(--font-line-height-body-default, 24px);
    /* 150% */
    letter-spacing: var(--font-letter-spacing-default, 0.2px);
    margin-top: 12px;
}

.submission-submit-text-data {
    color: var(--color-on-surface-default, #171D1E);
    /* H4: Button */
    font-family: var(--font-family-h4, "Avenir Next");
    font-size: var(--font-size-header-h4, 20px);
    font-style: normal;
    font-weight: var(--font-weight-header-h4, 600);
    line-height: var(--font-line-height-header-h4, 28px);
    /* 140% */
    letter-spacing: var(--font-letter-spacing-default, 0.2px);
}