@import "./Object_Item_Text.css";
/* @import "./Brand-Text.css";
@import "./Brand-Colors.css";
@import "./Brand-Scale-and-Spacing.css"; */

.single-select-button-desktop,
.single-select-button-selected-desktop,
.single-select-button-disabled-desktop {
   
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left;
    width: 97%; 

    padding: var(--spacing-md-desktop, 12px) var(--spacing-lg-desktop, 16px);
    gap: var(--spacing-xl-desktop, 16px);

    cursor: pointer;

    border-width: 2px;
    border-style: solid;
    border-radius: var(--spacing-md-desktop, 12px);
    border: 1px solid var(--color-secondary-interact-light-default, #A3D660);
    
    background: var(--color-surface-container-lowest, #FFF);

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
    
    transition: background-color 0.2s ease;
    user-select: none;
    
    /* 
    margin-top: var(--spacing-md-desktop);
    margin-bottom: var(--spacing-md-desktop); */
    margin-right: auto;
    margin-left: auto;

    /*     margin-top: 10px;
    margin-bottom: 10px; */
}




.single-select-button-desktop {
    font-family: var(--font-family-body);
    border-color: var(--color-secondary-interact-light-default, #A3D660);
    background-color: var(--color-surface-container-lowest, #FFF);
    color: var(--color-on-secondary-container, #121F00);

    cursor: pointer
}

.single-select-button-disabled-desktop {
    font-weight: normal;
    font-family: var(--font-family-body);
    border-color: var(--color-disabled-light, #C3C6D1);
    color: var(--color-disabled-bold, #7D808A);
    background-color: var(--color-surface-default, #F8F9FB);

    cursor: default;
}

.single-select-button-desktop:hover {
    font-weight: normal;
    font-family: var(--font-family-body);
    background-color: var(--color-secondary-interact-lightest-default, #E8FCCC);

    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.30);

    cursor: pointer
}


.single-select-button-desktop:hover.single-select-button-desktop:active {
    font-weight: normal;
    font-family: var(--font-family-body);
    background-color: var(--color-secondary-interact-lighter-default, #C6F090);
}

.single-select-button-selected-desktop {
    font-family: var(--font-family-body);
    border-color: transparent;

    background-color: var(--color-secondary-interact-bold-default, #3C6A00);

    color: var(--color-on-secondary-bold, #FFF);
}

.single-select-button-selected-desktop:hover {
    font-family: var(--font-family-body);
    background-color: var(--color-secondary-interact-bold-hovered, #2A4A00);
}

.single-select-button-selected-desktop:hover.single-select-button-selected-desktop:active {
    font-family: var(--font-family-body);
    background-color: var(--color-secondary-interact-bold-pressed, #1F3600);
}



.single-select-icon-desktop {
    color: var(--color-secondary-interact-bolder-default, #2A4A00);
    transition: color 0.2s ease;
}

.single-select-icon-selected-desktop {
    color: var(--color-on-secondary-bold, #FFF);
    transition: color 0.2s ease;
}

.single-select-icon-holder-desktop {
    color: var(--color-secondary-interact-bolder-default, #2A4A00);
    transition: color 0.2s ease;

}

.single-select-icon-holder-selected-desktop {
    color: var(--color-on-secondary-bold, #FFF);
    transition: color 0.2s ease;
}

.single-select-icon-holder-disabled-desktop {
    color: var(--color-disabled-bold, #7D808A);
    transition: color 0.2s ease;
}


/*MOBILE*/


.single-select-button-mobile,
.single-select-button-selected-mobile,
.single-select-button-disabled-mobile {

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left;
    width: 97%; 

    padding: var(--spacing-md-mobile, 12px) var(--spacing-lg-mobile, 16px);
    gap: var(--spacing-xl-mobile, 16px);

    cursor: pointer;

    border-width: 2px;
    border-style: solid;
    border-radius: var(--spacing-md-mobile, 12px);
    border: 1px solid var(--color-secondary-interact-light-default, #A3D660);
    
    background: var(--color-surface-container-lowest, #FFF);

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
    
    transition: background-color 0.2s ease;
    user-select: none;

    margin-right: auto;
    margin-left: auto;
}




.single-select-button-mobile {
    font-family: var(--font-family-body);
    border-color: var(--color-secondary-interact-light-default, #A3D660);
    background-color: var(--color-surface-container-lowest, #FFF);
    color: var(--color-on-secondary-container, #121F00);

    cursor: pointer
}

.single-select-button-disabled-mobile {
    font-weight: normal;
    font-family: var(--font-family-body);
    border-color: var(--color-disabled-light, #C3C6D1);
    color: var(--color-disabled-bold, #7D808A);
    background-color: var(--color-surface-default, #F8F9FB);
}

.single-select-button-mobile:hover {
    font-weight: normal;
    font-family: var(--font-family-body);
    background-color: var(--color-secondary-interact-lightest-default, #E8FCCC);

    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.30);

    cursor: pointer
}


.single-select-button-mobile:hover.single-select-button-mobile:active {
    font-weight: normal;
    font-family: var(--font-family-body);
    background-color: var(--color-secondary-interact-lighter-default, #C6F090);
}

.single-select-button-selected-mobile {
    font-family: var(--font-family-body);
    border-color: transparent;

    background-color: var(--color-secondary-interact-bold-default, #3C6A00);

    color: var(--color-on-secondary-bold, #FFF);
}

.single-select-button-selected-mobile:hover {
    font-family: var(--font-family-body);
    background-color: var(--color-secondary-interact-bold-hovered, #2A4A00);
}

.single-select-button-selected-mobile:hover.single-select-button-selected-mobile:active {
    font-family: var(--font-family-body);
    background-color: var(--color-secondary-interact-bold-pressed, #1F3600);
}



.single-select-icon-mobile {
    color: var(--color-secondary-interact-bolder-default, #2A4A00);
    transition: color 0.2s ease;
}

.single-select-icon-selected-mobile {
    color: var(--color-on-secondary-bold, #FFF);
    transition: color 0.2s ease;
}

.single-select-icon-holder-mobile {
    color: var(--color-secondary-interact-bolder-default, #2A4A00);
    transition: color 0.2s ease;

}

.single-select-icon-holder-selected-mobile {
    color: var(--color-on-secondary-bold, #FFF);
    transition: color 0.2s ease;
}

.single-select-icon-holder-disabled-mobile {
    color: var(--color-disabled-bold, #7D808A);
    transition: color 0.2s ease;
}

.singleSelectItemsWrapper {
    display: "flex";
    justify-content: "left";
    align-items: "center";
    gap: var(--spacing-sm-mobile, 8px);
}