.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

/* .auth-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
} */

.auth-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: var(--spacing-sm-desktop, 8px);

  font-family: var(--font-family-body-desktop, "Nunito Sans");
  font-size: var(--font-size-body-default-desktop, 20px);
  font-style: normal;
  font-weight: var(--font-weight-body-default-desktop, 400);
  line-height: var(--font-line-height-body-default-desktop, 24px);

  letter-spacing: var(--font-letter-spacing-default-desktop, 0.1px);
}

.auth-field-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: var(--spacing-sm-mobile, 8px);
}
.auth-field-desktop {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: var(--spacing-lg-desktop, 8px);

  font-family: var(--font-family-body-desktop, "Nunito Sans");
  font-size: var(--font-size-body-default-desktop, 20px);
  font-style: normal;
  font-weight: var(--font-weight-body-default-desktop, 400);
  line-height: var(--font-line-height-body-default-desktop, 24px);

  letter-spacing: var(--font-letter-spacing-default-desktop, 0.1px);
}
/* Normal State */
.auth-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  padding: var(--spacing-lg, 16px) var(--spacing-xl, 20px);
  gap: 4px;

  width: 100%;

  border-radius: 16px;
  border: 2px solid var(--color-primary-800, #00677e);
  background: var(--color-neutral-1100, #171d1e);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  transition: border-color 0.3s ease;

  color: red;
}

.auth-input::placeholder {
  color: red;
}

.auth-button {
  /* You can define common styles here, or leave it empty to inherit .normal-button styles */
  margin-top: var(--spacing-md-desktop);
  margin-bottom: var(--spacing-md-desktop);
  margin-right: auto;
  margin-left: auto;

  display: inline-flex;
  padding: var(--spacing-sm-desktop, 8px) var(--spacing-xl-desktop, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm-desktop, 8px);

  border-radius: var(--spacing-lg-desktop, 16px);
  display: flex;
  place-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;

  width: 100%;

  background: var(--color-primary-300ds, #88d2e3);
  border: none;

  color: var(--color-primary-1000, #003541);
  text-align: center;

  /***************** TEMP TEXT STYLE RULES - To be removed when the real text object is applied *****************/

  font-family: var(--font-family-body-desktop, "Nunito Sans");
  font-size: var(--font-size-header-h4-desktop, 20px);
  font-style: normal;
  font-weight: var(--font-weight-header-h4-desktop, 700);
  line-height: var(--font-line-height-header-h4-desktop, 28px);

  /* 140% */
  letter-spacing: var(--font-letter-spacing-default-desktop, 0.1px);

}

.auth-button:first-of-type {
  border-radius: var(--spacing-lg, 16px);
  background: var(--color-primary-300ds, #88d2e3);
  border: none;
}

.auth-button:first-of-type:hover {
  border-radius: var(--spacing-lg, 16px);
  background: var(--color-teal-200, #a3eeff);
  border: none;
}

.auth-button:first-of-type:active {
  border-radius: var(--spacing-lg, 16px);
  background: var(--color-teal-400, #a3eeff);
  border: none;
}

.auth-button:last-of-type {
  border-radius: var(--spacing-lg, 16px);
  background: var(--color-primary-300ds, #88d2e3);
  border: none;
}

.auth-button:last-of-type:hover {
  border-radius: var(--spacing-lg, 16px);
  background: var(--color-teal-200, #a3eeff);
  border: none;
}

.auth-button:last-of-type:active {
  border-radius: var(--spacing-lg, 16px);
  background: var(--color-teal-400, #a3eeff);
  border: none;
}

.auth-status {
  margin-top: 10px;
  font-size: 14px;
  color: #ff4d4d;
  text-align: center;
}

.auth-label {
  display: flex;
  width: auto;
  height: 24px;
  align-items: center;
  color: var(--color-neutral-200, #dee4e5);

  font-family: var(--font-family-body-desktop, "Nunito Sans");
  font-size: var(--font-size-body-default-desktop, 20px);
  font-style: normal;
  font-weight: var(--font-weight-body-bold-desktop, 400);
  line-height: var(--font-line-height-body-default-desktop, 24px);

  letter-spacing: var(--font-letter-spacing-default-desktop, 0.1px);
  margin-top: var(--spacing-md-desktop, 12px);
  margin-bottom: var(--spacing-md-desktop, 12px);
}

.auth-input.valid-email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  padding: var(--spacing-lg, 16px) var(--spacing-xl, 20px);
  gap: 4px;

  width: 100%;

  border-radius: 16px;
  border: 2px solid var(--color-success-800, #3c6a00);
  background: var(--color-neutral-1200, #090f10);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  transition: border-color 0.3s ease;

  color: white;
}

.auth-input:focus-within {
  border-color: var(--color-primary-300, #60d6ed);
  outline: var(--color-primary-300, #60d6ed);
}

.auth-input.valid-email:focus-within {
  border-color: var(--color-secondary-300, #60d6ed);
  outline: var(--color-secondary-300, #60d6ed);
}

.auth-input.valid-input:focus-within {
  border-color: var(--color-secondary-300, #60d6ed);
  outline: var(--color-secondary-300, #60d6ed);
}

.auth-input.invalid-email:focus-within {
  border-color: var(--color-danger-300, #60d6ed);
  outline: var(--color-danger-300, #60d6ed);
}

.auth-input.invalid-input:focus-within {
  border-color: var(--color-danger-300, #60d6ed);
  outline: var(--color-danger-300, #60d6ed);
}

.auth-input.invalid-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  padding: var(--spacing-lg, 16px) var(--spacing-xl, 20px);
  gap: 4px;

  width: 100%;

  border-radius: 16px;
  border: 2px solid var(--color-danger-800, #b81f14);
  background: var(--color-neutral-1100, #171d1e);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  transition: border-color 0.3s ease;

  color: var(--color-danger-300ds, #f5b7b3);
}
.auth-input.valid-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  padding: var(--spacing-lg, 16px) var(--spacing-xl, 20px);
  gap: 4px;

  width: 100%;

  border-radius: 16px;
  border: 2px solid var(--color-success-800, #3c6a00);
  background: var(--color-neutral-1200, #090f10);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  transition: border-color 0.3s ease;

  color: white;
}

.single-input-feeback-message {
  color: var(--color-neutral-300, #bfc8ca);

  /* Caption */
  font-family: var(--font-family-caption, Avenir);
  font-size: var(--font-size-body-caption, 13px);
  font-style: normal;
  font-weight: var(--font-weight-body-caption, 400);
  line-height: var(--font-line-height-body-caption, 20px); /* 153.846% */
  letter-spacing: var(--font-letter-spacing-default, 0.2px);
}

.invalid-single-input-feeback-message {
  color: #f4918a;

  /* Caption */
  font-family: var(--font-family-caption, Avenir);
  font-size: var(--font-size-body-caption, 13px);
  font-style: normal;
  font-weight: var(--font-weight-body-caption, 400);
  line-height: var(--font-line-height-body-caption, 20px); /* 153.846% */
  letter-spacing: var(--font-letter-spacing-default, 0.2px);
}

.error-icon {
  width: 20px; /* or whatever size you want */
  height: 20px;
  object-fit: contain;
}

.auth-label-wrapper {
  display: flex;
  width: 329px;
  height: 24px;
  align-items: center;
  gap: var(--spacing-md, 12px);
}

.inline-error-icon {
  width: 22px;
  align-self: stretch;
  aspect-ratio: 1/1;
}

.toggle-password {
  position: absolute;
  right: 12px;
  width: 24px; /* adjust to your PNG size */
  height: 24px;
  cursor: pointer;
  object-fit: contain;
}
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
